.buyer-section{
    background-color: var(--grey);
       color: white;
    margin-top: 100px;
    margin-right: 70px;
    display: flex;
    width: auto;
    height: 40px;
    border-radius: 5px;
    align-items: center;
    padding: 1%;
    font-size: 15px;
}